Source: clusto
Section: net
Priority: extra
Maintainer: Jeremy Grosser <jgrosser@digg.com>
Build-Depends: cdbs, debhelper (>= 5), python-sqlalchemy, python-setuptools, python-support (>= 0.3), python-all-dev
Standards-Version: 3.7.2

Package: clusto
Architecture: any
Depends: ${python:Depends}, ipython, python-sqlalchemy, python-scapy (>= 2.0.1), python-ipy, python-libvirt
Suggests: python-psycopg2, python-mysqldb
Provides: ${python:Provides}
Description: Clusto is a tool/library for organizing and managing infrastructure
