body {
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Verdana", "Arial", sans-serif;
	font-size: 8pt;
	padding: 0;
	margin: 0;
}

#container {
	width: 100%;
}

#filters {
	float: left;
	width: 20%;
}

#detail {
	float: left;
	width: 75%;
}

#search_results {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label {
}

#filters fieldset {
	margin: 1em;
	border: 1px solid #202D26;
	width: 80%; 
}

fieldset.search input {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#detail fieldset {
	margin: 1em;
	border: 1px solid #202D26;
	float: left;
	clear: right;
	width: 100%;
	overflow: none;
}

legend {
	color: #FFF;
	background-color: #67746C;
	border: 1px solid #202D26;
	padding: 2px 6px;
}

fieldset.search legend {
	background-color: #072b76;
}

.subtext {
	font-size: 8pt;
	color: #999;
	width: 100%;
	text-align: center;
}

.item {
	color: #00F;
	text-decoration: underline;
	display: block;
}

.actions, .contents, .parents, .attrs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.col, .number, .datatype, .key, .value, .subkey {
	float: left;
	margin-right: 1em;
	overflow: hidden;
}

.number, .datatype {
	width: 10%;
}

.key {
	width: 25%;
}

.value {
	width: 30%;
}

.subkey {
	width: 15%;
}

li {
	display: block;
	float: left;
	width: 100%;
	clear: both;
}

li.color0 {
	background-color: #EEF;
}

li.color1 {
	background-color: #FFF;
}

a, a:link a:visited a:active a:hover {
	color: #00F;
	text-decoration: underline;
}
